/* Normalize css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--body-color, #0A0A0B);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  font-family: Exo ;
  color: #FFF;
}
/* Normalize css */

/* Header top*/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
  margin-top: 37px;
}

.header__logo{
  padding-right: 200px;
}

.header__ul{
  display: flex;
  gap: 48px;
}

.header__title{
  color: #FFF;
  
  text-align: center;
}
.header__link{
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  transition: all ease 0.5s;
}

.header__link:hover{
  color: var(--first-color, #4177DC);
  text-shadow: 0px 0px 32px #346DDA;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.header__best{
font-size: 36px;
font-style: normal;
font-weight: 600;
padding-top: 72px;
}

.header__carname{
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
padding-top: 20px;
}

.header__cartipe{
color: var(--text-color, #BABEC4);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
padding: 8px 0 48px 0;
margin-left: 45%;
display: flex;
}

.header__cars-informations{
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header__cars-img{
  margin-left: 25%;
}

.header__cars-icon{
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 140%;
text-align: center; 
padding-top: 16px;
}

.header__cars-name{
color: var(--text-color-light, #888B91);
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 140%;
text-align: center; 
}

.header__homebutton{
margin: 56px 0 0 46%;
}
/* Header top*/